<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
    	
        <Console name="Console-consoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] %c: %m%n"/>
        </Console>
        
        <RollingFile name="RollingFile-appLog" fileName="${sys:mule.home}/logs/app/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/app/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" maxFileSize="10MB">
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFile-connectionLog" fileName="${sys:mule.home}/logs/conn/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/conn/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" maxFileSize="10MB">
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFile-auditLog" fileName="${sys:mule.home}/logs/audit/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/audit/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" maxFileSize="10MB">
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
		
		<RollingFile name="RollingFile-secureLog" fileName="${sys:mule.home}/logs/secure/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/secure/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" maxFileSize="10MB">
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
		</RollingFile>
    </Appenders>
	
    <Loggers>
    
    	<!-- 
    	################################################
		# Mule defaults
		################################################
    	-->
  		
        <!-- CXF is used heavily by Mule for web services -->
        <AsyncLogger name="org.apache.cxf" level="WARN"/>
  
        <!-- Apache Commons tend to make a lot of noise which can clutter the log-->
        <AsyncLogger name="org.apache" level="WARN"/>
  
        <!-- Reduce startup noise -->
        <AsyncLogger name="org.springframework.beans.factory" level="WARN"/>
  
        <!-- Mule classes -->
        <AsyncLogger name="org.mule" level="INFO"/>
        <AsyncLogger name="com.mulesoft" level="INFO" />
  
  		<!-- Extra filtering. -->
  		<AsyncLogger name="org.jetel" level="WARN" />
        <AsyncLogger name="Tracking" level="WARN" />
        
        <!-- Custom levels. -->
        <AsyncLogger name="org.apache.commons.httpclient.HttpMethodBase" level="ERROR" />
        
        <!-- 
    	################################################
		# Logger settings.
		################################################
    	-->
    	
    	<!-- 
    	#Audit
		log4j.logger.audit=WARN, auditLog
		log4j.additivity.audit=false
    	-->
    	
    	<AsyncLogger name="app" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-appLog"/>
    	</AsyncLogger>
    	
    	<AsyncLogger name="audit" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-auditLog"/>
    	</AsyncLogger>
    	
    	<AsyncLogger name="connection" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-connectionLog"/>
    	</AsyncLogger>
    	
    	<AsyncLogger name="secure" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-secureLog"/>
    	</AsyncLogger>
    	
    	
    	<!-- 
    	# Default log level
		log4j.rootCategory=WARN, appLog
    	-->
        <AsyncRoot level="WARN">
            <AppenderRef ref="RollingFile-auditLog"/>
        </AsyncRoot>
        <AsyncRoot level="ERROR">
            <AppenderRef ref="RollingFile-appLog"/>
            <AppenderRef ref="RollingFile-connectionLog"/>
            <AppenderRef ref="RollingFile-secureLog"/>
        </AsyncRoot>
        
        
        <!-- <AsyncRoot level="INFO">
            <AppenderRef ref="Console-consoleLog"/>
        </AsyncRoot>     -->
       
    </Loggers>
  
</Configuration>