<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
    	<!-- 
    	log4j.appender.console=org.apache.log4j.ConsoleAppender
		log4j.appender.console.layout=org.apache.log4j.PatternLayout
		log4j.appender.console.layout.ConversionPattern=%-5p %d [%t] %c: %m%n
    	-->
        <Console name="Console-consoleLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d [%t] %c: %m%n"/>
        </Console>
        
        <!-- 
  		log4j.appender.appLog=org.apache.log4j.DailyRollingFileAppender
		log4j.appender.appLog.DatePattern='.'yyyy-MM-dd
		log4j.appender.appLog.layout=org.apache.log4j.PatternLayout
		log4j.appender.appLog.layout.ConversionPattern=%-5p %d [%t] %c: %m%n
		log4j.appender.appLog.File=${sys:mule.home}/logs/app/profile.log
  	 	-->
        <RollingFile name="RollingFile-appLog" fileName="${sys:mule.home}/logs/app/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/app/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" >
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<!-- 
		log4j.appender.connectionLog=org.apache.log4j.DailyRollingFileAppender
		log4j.appender.connectionLog.DatePattern='.'yyyy-MM-dd
		log4j.appender.connectionLog.layout=org.apache.log4j.PatternLayout
		log4j.appender.connectionLog.layout.ConversionPattern=%-5p %d %c{1}: %m%n
		log4j.appender.connectionLog.File=${sys:mule.home}/logs/conn/profile.log
		-->
		<RollingFile name="RollingFile-connectionLog" fileName="${sys:mule.home}/logs/conn/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/conn/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" >
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<!-- 
		log4j.appender.auditLog=org.apache.log4j.DailyRollingFileAppender
		log4j.appender.auditLog.DatePattern='.'yyyy-MM-dd
		log4j.appender.auditLog.layout=org.apache.log4j.PatternLayout
		log4j.appender.auditLog.layout.ConversionPattern=%-5p %d %c{1}: %m%n
		log4j.appender.auditLog.File=${sys:mule.home}/logs/audit/profile.log
		-->
		<RollingFile name="RollingFile-auditLog" fileName="${sys:mule.home}/logs/audit/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/audit/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" >
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
		
		<!-- 
		log4j.appender.secureLog=org.apache.log4j.DailyRollingFileAppender
		log4j.appender.secureLog.DatePattern='.'yyyy-MM-dd
		log4j.appender.secureLog.layout=org.apache.log4j.PatternLayout
		log4j.appender.secureLog.layout.ConversionPattern=%-5p %d %c{1}: %m%n
		log4j.appender.secureLog.File=${sys:mule.home}/logs/secure/profile.log
		-->
		<RollingFile name="RollingFile-secureLog" fileName="${sys:mule.home}/logs/secure/publish-client-to-com.log" filePattern="${sys:mule.home}/logs/secure/publish-client-to-com-%d{yyyy-MM-dd}-%i.log" >
			<PatternLayout>
				<pattern>%-5p %d [%t] %c: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
    </Appenders>
	
    <Loggers>
    
    	<!-- 
    	################################################
		# Mule defaults
		################################################
    	-->
  		
        <!-- CXF is used heavily by Mule for web services -->
        <AsyncLogger name="org.apache.cxf" level="WARN"/>
  
        <!-- Apache Commons tend to make a lot of noise which can clutter the log-->
        <AsyncLogger name="org.apache" level="WARN"/>
  
        <!-- Reduce startup noise -->
        <AsyncLogger name="org.springframework.beans.factory" level="WARN"/>
  
        <!-- Mule classes -->
        <AsyncLogger name="org.mule" level="ERROR"/>
        <AsyncLogger name="com.mulesoft" level="ERROR" />
  
  		<!-- Extra filtering. -->
  		<AsyncLogger name="org.jetel" level="WARN" />
        <AsyncLogger name="Tracking" level="WARN" />
        
        <!-- Custom levels. -->
        <AsyncLogger name="org.apache.commons.httpclient.HttpMethodBase" level="ERROR" />
        
        <!-- 
    	################################################
		# Logger settings.
		################################################
    	-->
    	
    	<!-- 
    	#Audit
		log4j.logger.audit=WARN, auditLog
		log4j.additivity.audit=false
    	-->
    	<AsyncLogger name="audit" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-auditLog"/>
    	</AsyncLogger>
    	<!--
  		<Logger name="audit" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-auditLog"/>
    	</Logger>
    	-->
    	
    	<!-- 
    	#Connection
		log4j.logger.connection=WARN, connectionLog
		log4j.additivity.connection=false
    	-->
  		<AsyncLogger name="connection" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-connectionLog"/>
    	</AsyncLogger>
    	<!--
    	<Logger name="connection" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-connectionLog"/>
    	</Logger>
    	-->
    	
    	<!-- 
    	#Secure - not falling back into default log
		log4j.logger.secure=WARN, secureLog
		log4j.additivity.secure=false
    	-->
  		<AsyncLogger name="secure" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-secureLog"/>
    	</AsyncLogger>
    	<!--
    	<Logger name="secure" level="WARN" additivity="false">
      		<AppenderRef ref="RollingFile-secureLog"/>
    	</Logger>
    	-->
    	
    	<!-- 
    	# Default log level
		log4j.rootCategory=WARN, appLog
    	-->
        <AsyncRoot level="WARN">
            <AppenderRef ref="RollingFile-appLog"/>
        </AsyncRoot>
        <!--Root level="WARN">
	      	<AppenderRef ref="RollingFile-appLog"/>
	    </Root-->
    </Loggers>
  
</Configuration>